.navigationItems {
    right: 2px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content:space-between;
    color: rgb(245, 197, 147);
    box-sizing: border-box;
}